{
    "semi": true,
    "singleQuote": false,
    "tabWidth": 4,
    "overrides": [
        {
            "files": ["*.jsx", "*.tsx"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
