{
    "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
    "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
    "tailwindStylesheet": "./apps/frontend/src/css/index.css",
    "semi": true,
    "singleQuote": false,
    "tabWidth": 2,
    "printWidth": 120,
    "trailingComma": "all",
    "experimentalOperatorPosition": "start",
    "importOrder": ["^react$", "<THIRD_PARTY_MODULES>", "^@live24hisere/(.*)$", "^[./]"],
    "importOrderSortSpecifiers": true,
    "importOrderCaseInsensitive": true
}
