fieldset {
    padding: 0;
    margin: 0;
    border: 0;
}

fieldset legend {
    padding: 0;
}

.input-group label {
    display: block;
    width: 100%;
}

.input-group input,
.input-group select {
    display: block;
    width: 100%;
}

.inline-input-group {
    display: block;
    width: 100%;
}

input.input,
select.input-select {
    font-size: 0.95em;
    padding: 5px;
    box-sizing: border-box;
    color: #222;
    border-radius: 5px;
    border-color: #ccc;
    border-width: 1px;
    border-style: solid;

    outline: none;
}

select.input-select:focus {
    border: 1px solid #999;
    box-shadow: 0 0 3px #aaa;
}

label.input-radio,
label.input-checkbox {
    position: relative;

    display: inline-block;

    margin-top: 1px;
    margin-bottom: 1px;
}

label.input-radio input[type=radio],
label.input-checkbox input[type=checkbox] {
    opacity: 0;

    margin-right: 6px;
}

label.input-radio input[type=radio] + span::before,
label.input-radio input[type=radio] + span::after,
label.input-checkbox input[type=checkbox] + span::before,
label.input-checkbox input[type=checkbox] + span::after {
    transform: translate(3px, 3px);
}

label.input-radio input[type=radio] + span::before {
    content: '';
    width: 12px;
    height: 12px;
    border: 2px solid;
    border-color: #33CC33;
    border-radius: 100%;

    position: absolute;
    top: 0;
    left: 0;

    transition: border-color 0.1s ease-out;
}

label.input-radio input[type=radio]:not(:checked) + span::before {
    border-color: #666;
}


label.input-radio input[type=radio] + span::after {
    content: '';
    width: 8px;
    height: 8px;
    background-color: #33CC33;
    border-radius: 100%;

    position: absolute;
    top: 4px;
    left: 4px;

    transition: opacity 0.1s ease-out;
}

label.input-radio input[type=radio]:not(:checked) + span::after {
    opacity: 0;
}

label.input-checkbox input[type=checkbox] + span::before {
    content: '';
    width: 12px;
    height: 12px;
    border: 2px solid;
    border-color: #33CC33;
    background-color: #33CC33;
    border-radius: 3px;

    position: absolute;
    top: 0;
    left: 0;

    transition: border-color 0.1s ease-out, background-color 0.1s ease-out;
}

label.input-checkbox input[type=checkbox]:not(:checked) + span::before {
    border-color: #666;
    background-color: transparent;
}

label.input-checkbox input[type=checkbox] + span::after {
    opacity: 1;

    content: '';
    width: 4px;
    height: 9px;

    position: absolute;
    top: 4px;
    left: 8px;

    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
    border-bottom-right-radius: 3px;
    transform: rotate(40deg);

    transition: opacity 0.1s ease-out;
}

label.input-checkbox input[type=checkbox]:not(:checked) + span::after {
    opacity: 0;
}

label.input-radio input[type=radio]:focus + span:before,
label.input-checkbox input[type=checkbox]:focus + span:before {
    box-shadow: 0 0 3px #aaa;
}

.button {
    display: inline-block;
    padding: 6px 12px;

    font-size: 0.95em;
    font-weight: bold;
    text-decoration: none;
    font-family: inherit;

    border: 0;
    border-radius: 5px;

    background-color: #2eb72e;
    color: #f8f8f8;

    transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

.button.small {
    padding: 4px 8px;
    font-size: 0.8em;
}

.button:hover {
    cursor: pointer;

    background-color: #33cc33;
}

.button.orange {
    background-color: #d79a1d;
}

.button.orange:hover {
    background-color: #edb138;
}

.button.red {
    background-color: #d72a1d;
}

.button.red:hover {
    background-color: #f1453a;
}

.button.grey {
    background-color: #eaeaea;
    color: #666;
}

.button.grey:hover {
    background-color: #d8d8d8;
    color: #555;
}

.button[disabled],
.button[disabled]:hover {
    background-color: #ddd;
    color: #888;

    cursor: default;
}
