body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: #f8f8f8;
    color: #222;
}

a {
    color: #22aa22;
}

#app-content-wrapper {
    min-height: calc(100vh - 80px); /* Total height minux footer height */
}

#app-header {
    height: 64px;

    display: flex;

    background-color: #fff;
    box-shadow: 0 1px 2px rgb(208 208 208);
}

#app-footer {
    height: 80px;

    background-color: #131119;
    color: #fff
}

#app-header-logo-container {
    height: 100%;

    display: inline-flex;
    align-items: center;

    padding-left: 15px;
    padding-right: 15px;
}

#app-header-logo-container img {
    height: 90%;
}

#app-header nav {
    height: 100%;

    flex: 1
}

#app-header nav ul {
    height: 100%;

    list-style-type: none;
    padding: 0;
    margin: 0;
}

#app-header nav ul li {
    height: 100%;

    display: inline-block;
}

#app-header nav ul li a {
    height: 100%;

    display: flex;
    align-items: center;

    position: relative;

    text-decoration: none;

    font-weight: 700;
    color: #444;

    padding-left: 5px;
    padding-right: 5px;

    margin-left: 10px;
    margin-right: 10px;

    transition: color 0.1s ease-out, border 0.1s ease-out;
}

#app-header nav ul li a.active {
    color: #33CC33;
}

#app-header nav ul li a.active::after {
    content: ' ';
    border-bottom: 3px solid #33CC33;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

#app-content {
    padding-bottom: 20px;
}

#ranking-settings-container {
    display: flex;
    flex-wrap: wrap;

    margin-left: -15px;
    margin-right: -15px;

    margin-bottom: 20px;
}

.ranking-settings {
    margin-left: 15px;
    margin-right: 15px;
}

#ranking-settings-category-select {
    width: 360px;
    max-width: calc(100vw - 32px);
}

.race-time-input {
    font-size: 0.9em;
    width: 6ch;
    margin-left: 5px;
    margin-right: 2px;
}

table.table {
    width: 100%;

    border-collapse: collapse;
}

table.table,
table.table td,
table.table th {
    border: 1px solid #aaa;
}

table.table td,
table.table th {
    padding: 7px;
}

table.table th {
    background-color: #fff;
    border-bottom-style: double;
    border-bottom-width: 3px;
}

table.table tbody tr:nth-child(2n) {
    background-color: #f0f0f0;
}

table.table tbody tr:hover {
    background-color: #e8e8e8;
}

.ranking-table-info-header {
    background-color: #fff;
}
