@import "tailwindcss";

@custom-variant dark (&:where(body[theme="dark"] *));

@theme {
  --color-app-green-50: oklch(98.06% 0.0179 142.82);
  --color-app-green-100: oklch(95.73% 0.0473 145.19);
  --color-app-green-200: oklch(91.54% 0.0873 144.34);
  --color-app-green-300: oklch(85.24% 0.1511 143.88);
  --color-app-green-400: oklch(77.37% 0.2057 143.27);
  --color-app-green-500: oklch(69.25% 0.2141 142.83);
  --color-app-green-600: oklch(64.4% 0.2032 142.76);
  --color-app-green-700: oklch(50.46% 0.1524 143.02);
  --color-app-green-800: oklch(43.09% 0.1219 143.29);
  --color-app-green-900: oklch(37.84% 0.1013 143.8);
  --color-app-green-950: oklch(25.51% 0.0707 143.6);

  --default-transition-duration: 0.1s;
  --default-transition-timing-function: ease-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold;
}

h1 {
  @apply text-[2rem];
}

h2 {
  @apply text-[1.35rem];
}

h3 {
  @apply text-[1.15rem];
}

h4 {
  @apply text-[1.05rem];
}

h5 {
  @apply text-base;
}

h6 {
  @apply text-[0.95rem];
}

/*
 * Tweak to prevent the screen from flashing before javascript is loaded if user's device is in shadow mode
 */

@media (prefers-color-scheme: light) {
  :root {
    --color-background: var(--color-neutral-100);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--color-neutral-900);
  }
}

/* The `theme` attribute is added to the body only once React has loaded */
body[theme="light"] {
  --color-background: var(--color-neutral-100);
}

/*
 * End tweak
 */

body,
body[theme="light"] {
  --color-text: var(--color-neutral-900);
  --color-text-accent: #2a2;
  --color-shadow: #0003;
  --color-background-highlight: #fff;
  --color-accent: #3c3;
  --color-background-alternate: #f0f0f0;
  --color-background-hover: #e8e8e8;
  --color-border-table: #aaa;
  --color-background--ranking-table-runner-stopped-badge: #d34242;
  --color-text--ranking-table-runner-stopped-badge: #fff;
  --color-border-button: #eee;
  --color-background-button: #fff;
  --color-text-button-accent: #fff;
}

body[theme="dark"] {
  --color-background: var(--color-neutral-900);
  --color-text: var(--color-neutral-200);
  --color-text-accent: #2a2;
  --color-shadow: #000a;
  --color-background-highlight: #1a1a1a;
  --color-accent: #3c3;
  --color-background-alternate: #222;
  --color-background-hover: #233523;
  --color-border-table: #333;
  --color-background--ranking-table-runner-stopped-badge: #d34242;
  --color-text--ranking-table-runner-stopped-badge: #fff;
  --color-border-button: #111;
  --color-background-button: #000;
  --color-text-button-accent: #000;
}

body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--color-background);
  color: var(--color-text);
}

dialog.modal::backdrop {
  background-color: #000;
  transition: background-color 1s ease-out;
  opacity: 0.5;
}

dialog.modal {
  width: max(460px, 30vw);

  border: none;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);

  padding: 0;

  top: 50%;
  transform: translateY(-50%);
}

dialog.modal .modal-content {
  padding: 1em;
}

dialog.modal .close-button {
  font-size: 1.25em;
  padding: 0 0.125em;
  line-height: 1;
  margin: 0;
  background-color: transparent;
  border: none;

  color: #666;
  transition: color 0.05s ease-out;

  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 1;
}

dialog.modal .close-button:hover {
  cursor: pointer;

  color: hsl(0, 0%, 20%);
}

.race-time-input {
  font-size: 0.9em;
  width: 6ch;
  margin-left: 5px;
  margin-right: 2px;
}

table.table {
  border-collapse: collapse;
}

table.table:not(.no-full-width) {
  width: 100%;
}

table.table,
table.table td,
table.table th {
  border: 1px solid var(--color-border-table);
}

table.table td:not(.clickable),
table.table th:not(.clickable),
table.table td.clickable a,
table.table th.clickable a {
  padding: 0.5em;
}

table.table th {
  background-color: var(--color-background-highlight);
  border-bottom-style: double;
  border-bottom-width: 3px;
}

table.table tbody tr:nth-child(2n) {
  background-color: var(--color-background-alternate);
}

table.table tbody tr:hover {
  background-color: var(--color-background-hover);
}

.ranking-table-info-header {
  background-color: var(--color-background-highlight);
}

.ranking-table-chevron {
  color: #444;
  font-size: 0.85em;
}

.responsive-ranking-table tbody td.clickable > a {
  text-decoration: none;
  color: #444;
}

@media (max-width: 460px) {
  .responsive-ranking-table {
    font-size: 0.9em;
  }
}

.responsive-ranking-table-row-secondary-data-row {
  font-size: 0.9em;
}

.ranking-table-runner-stopped-badge {
  display: inline-block;
  font-size: 0.75em;
  background-color: var(--color-background--ranking-table-runner-stopped-badge);
  color: var(--color-text--ranking-table-runner-stopped-badge);
  font-weight: bold;
  padding: 0.2em 0.4em;
  border-radius: 0.5em;

  print-color-adjust: exact;
  -webkit-print-color-adjust: exact;
}

a > .card {
  transition: background-color 0.1s ease-out;
}

a:has(.card) {
  color: initial;
  text-decoration: initial;
}

a:hover > .card {
  background-color: var(--color-background);
}

.responsive-runner-laps-table .responsive-runner-laps-table-row-secondary-data {
  font-size: 0.9em;
}

@media (max-width: 460px) {
  .responsive-runner-laps-table {
    font-size: 0.9em;
  }
}

#app-footer a {
  color: inherit;
}

.footer-links {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

@media (min-width: 768px) {
  .footer-links {
    flex-direction: row;
    gap: 0;
    justify-content: center;
  }

  .footer-links li:not(:last-child)::after {
    content: "•";
    margin: 0.5em;
  }
}
