@import "tailwindcss";

@custom-variant dark (&:where(body[data-theme="dark"] *));

@theme {
  --color-app-green-50: oklch(98.06% 0.0179 142.82);
  --color-app-green-100: oklch(95.73% 0.0473 145.19);
  --color-app-green-200: oklch(91.54% 0.0873 144.34);
  --color-app-green-300: oklch(85.24% 0.1511 143.88);
  --color-app-green-400: oklch(77.37% 0.2057 143.27);
  --color-app-green-500: oklch(69.25% 0.2141 142.83);
  --color-app-green-600: oklch(64.4% 0.2032 142.76);
  --color-app-green-700: oklch(50.46% 0.1524 143.02);
  --color-app-green-800: oklch(43.09% 0.1219 143.29);
  --color-app-green-900: oklch(37.84% 0.1013 143.8);
  --color-app-green-950: oklch(25.51% 0.0707 143.6);

  --default-transition-duration: 0.1s;
  --default-transition-timing-function: ease-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold;
}

h1 {
  @apply text-[2rem];
}

h2 {
  @apply text-[1.35rem];
}

h3 {
  @apply text-[1.15rem];
}

h4 {
  @apply text-[1.05rem];
}

h5 {
  @apply text-base;
}

h6 {
  @apply text-[0.95rem];
}

/*
 * Tweak to prevent the screen from flashing before javascript is loaded if user's device is in shadow mode
 */

@media (prefers-color-scheme: light) {
  :root {
    --color-background: var(--color-neutral-100);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--color-neutral-900);
  }
}

/* The `theme` attribute is added to the body only once React has loaded */
body[data-theme="light"] {
  --color-background: var(--color-neutral-100);
}

/*
 * End tweak
 */

body,
body[data-theme="light"] {
  --color-text: var(--color-neutral-900);
}

body[data-theme="dark"] {
  --color-background: var(--color-neutral-900);
  --color-text: var(--color-neutral-200);
}

body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--color-background);
  color: var(--color-text);
}

.print-exact {
  print-color-adjust: exact;
  -webkit-print-color-adjust: exact;
}

@media (min-width: 768px) {
  .footer-links li:not(:last-child)::after {
    content: "•";
    margin: 0.5em;
  }
}
