@import "tailwindcss";

@custom-variant dark (&:where(body[theme="dark"] *));

@theme {
  --color-app-green-500: oklch(64.4% 0.2032 142.76);
  --color-app-green-700: oklch(57% 0.23 143.48);

  --default-transition-duration: 0.1s;
  --default-transition-timing-function: ease-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold;
}

h1 {
  @apply text-[2rem];
}

h2 {
  @apply text-[1.35rem];
}

h3 {
  @apply text-[1.15rem];
}

h4 {
  @apply text-[1.05rem];
}

h5 {
  @apply text-base;
}

h6 {
  @apply text-[0.95rem];
}

/*
 * Tweak to prevent the screen from flashing before javascript is loaded if user's device is in shadow mode
 */

@media (prefers-color-scheme: light) {
  :root {
    --color-background: var(--color-neutral-100);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--color-neutral-900);
  }
}

/* The `theme` attribute is added to the body only once React has loaded */
body[theme="light"] {
  --color-background: var(--color-neutral-100);
}

/*
 * End tweak
 */

body,
body[theme="light"] {
  --color-text: var(--color-neutral-900);
  --color-text-accent: #2a2;
  --color-shadow: #0003;
  --color-background-highlight: #fff;
  --color-accent: #3c3;
  --color-background-alternate: #f0f0f0;
  --color-background-hover: #e8e8e8;
  --color-border-table: #aaa;
  --color-background--ranking-table-runner-stopped-badge: #d34242;
  --color-text--ranking-table-runner-stopped-badge: #fff;
  --color-border-button: #eee;
  --color-background-button: #fff;
  --color-text-button-accent: #fff;
  --color-accent-desaturated: #9c9;
}

body[theme="dark"] {
  --color-background: var(--color-neutral-900);
  --color-text: var(--color-neutral-200);
  --color-text-accent: #2a2;
  --color-shadow: #000a;
  --color-background-highlight: #1a1a1a;
  --color-accent: #3c3;
  --color-background-alternate: #222;
  --color-background-hover: #233523;
  --color-border-table: #333;
  --color-background--ranking-table-runner-stopped-badge: #d34242;
  --color-text--ranking-table-runner-stopped-badge: #fff;
  --color-border-button: #111;
  --color-background-button: #000;
  --color-text-button-accent: #000;
  --color-accent-desaturated: #363;
}

body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--color-background);
  color: var(--color-text);
}

a,
button.a {
  color: var(--color-text-accent);
  text-decoration: underline;
  cursor: pointer;

  border: none;
  background-color: transparent;
}

button.a {
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
}

a.no-style {
  color: inherit;
  text-decoration: inherit;
}

dialog.modal::backdrop {
  background-color: #000;
  transition: background-color 1s ease-out;
  opacity: 0.5;
}

dialog.modal {
  width: max(460px, 30vw);

  border: none;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);

  padding: 0;

  top: 50%;
  transform: translateY(-50%);
}

dialog.modal .modal-content {
  padding: 1em;
}

dialog.modal .close-button {
  font-size: 1.25em;
  padding: 0 0.125em;
  line-height: 1;
  margin: 0;
  background-color: transparent;
  border: none;

  color: #666;
  transition: color 0.05s ease-out;

  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 1;
}

dialog.modal .close-button:hover {
  cursor: pointer;

  color: hsl(0, 0%, 20%);
}

.options-dropdown {
  z-index: 1;
  position: absolute;
  top: calc(100% + 5px);
  right: 0;

  background-color: var(--color-background-button);
  border: 1px solid var(--color-border-button);
  box-shadow: 0 1px 2px var(--color-shadow);
  border-radius: 5px;
}

.options-dropdown ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.options-dropdown li {
  white-space: nowrap;
}

.options-dropdown li a,
.options-dropdown li button {
  display: inline-block;
  width: 100%;
  padding: 5px 10px;
}

.options-dropdown li a {
  text-decoration: none;
  color: inherit;
}

.options-dropdown li button {
  border: none;
  background-color: transparent;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
}

.options-dropdown li a:hover,
.options-dropdown li button:hover {
  background-color: var(--color-background-hover);
  cursor: pointer;
}

.race-time-input {
  font-size: 0.9em;
  width: 6ch;
  margin-left: 5px;
  margin-right: 2px;
}

table.table {
  border-collapse: collapse;
}

table.table:not(.no-full-width) {
  width: 100%;
}

table.table,
table.table td,
table.table th {
  border: 1px solid var(--color-border-table);
}

table.table td:not(.clickable),
table.table th:not(.clickable),
table.table td.clickable a,
table.table th.clickable a {
  padding: 0.5em;
}

table.table th {
  background-color: var(--color-background-highlight);
  border-bottom-style: double;
  border-bottom-width: 3px;
}

table.table tbody tr:nth-child(2n) {
  background-color: var(--color-background-alternate);
}

table.table tbody tr:hover {
  background-color: var(--color-background-hover);
}

table.table td .buttons-container,
table.table th .buttons-container {
  display: flex;
  gap: 0.5em;
}

.admin-runner-passages-table tr.passage-hidden td:nth-child(n + 3):nth-child(-n + 4) {
  text-decoration: line-through;
}

.ranking-table-info-header {
  background-color: var(--color-background-highlight);
}

.ranking-table-chevron {
  color: #444;
  font-size: 0.85em;
}

.responsive-ranking-table tbody td.clickable > a {
  text-decoration: none;
  color: #444;
}

@media (max-width: 460px) {
  .responsive-ranking-table {
    font-size: 0.9em;
  }
}

.responsive-ranking-table-row-secondary-data-row {
  font-size: 0.9em;
}

.ranking-table-runner-stopped-badge {
  display: inline-block;
  font-size: 0.75em;
  background-color: var(--color-background--ranking-table-runner-stopped-badge);
  color: var(--color-text--ranking-table-runner-stopped-badge);
  font-weight: bold;
  padding: 0.2em 0.4em;
  border-radius: 0.5em;

  print-color-adjust: exact;
  -webkit-print-color-adjust: exact;
}

a > .card {
  transition: background-color 0.1s ease-out;
}

a:has(.card) {
  color: initial;
  text-decoration: initial;
}

a:hover > .card {
  background-color: var(--color-background);
}

.responsive-runner-laps-table .responsive-runner-laps-table-row-secondary-data {
  font-size: 0.9em;
}

@media (max-width: 460px) {
  .responsive-runner-laps-table {
    font-size: 0.9em;
  }
}

.admin-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-block;
}

.admin-list li {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.admin-list li a {
  display: flex;
  text-decoration: none;

  padding: 5px 15px;
  border: 1px solid var(--color-border-button);
  background-color: var(--color-background-button);
  box-shadow: 0 1px 2px var(--color-shadow);
  transition: box-shadow 0.05s ease-out;
}

.admin-list li a:hover {
  box-shadow: 0 1px 3px var(--color-shadow);
}

.admin-list li.sorting a:hover {
  cursor: grab;
}

.admin-list li.sorting a.dragged {
  opacity: 50%;
}

.admin-list li.sorting a.dragged-over {
  border: 1px solid var(--color-accent);
}

.admin-list-link-drag-icon {
  margin-right: 15px;
  color: var(--color-accent-desaturated);
}

.admin-list-link-icon {
  width: 1.75em;
}

.admin-list-link-secondary-icons {
  font-size: 0.8em;
  margin-left: 0.8em;

  display: flex;
  flex: 1;
  align-items: flex-end;
  justify-content: right;
}

.admin-list-link-secondary-icon-group {
  margin-left: 0.4em;
  margin-right: 0.4em;
}

.pagination-container {
  display: flex;
  justify-content: center;
}

.pagination {
  display: flex;
}

.pagination button {
  font-size: 0.95em;
  display: flex;
  height: 2.1em;
  min-width: 2.1em;
  align-items: center;
  justify-content: center;

  border-radius: 0;
  border: 1px solid var(--color-border-button);
  background-color: transparent;
}

.pagination button:not(:disabled):hover {
  cursor: pointer;
  background-color: var(--color-background-hover);
}

.pagination button.pagination-button-current-page {
  background-color: var(--color-accent);
  border-color: var(--color-accent);
  color: var(--color-text-button-accent);
  z-index: 1;
}

.pagination button:not(:first-child) {
  margin-left: -1px;
}

.pagination button:first-child {
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
}

.pagination button:last-child {
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

#app-footer a {
  color: inherit;
}

.footer-links {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

@media (min-width: 768px) {
  .footer-links {
    flex-direction: row;
    gap: 0;
    justify-content: center;
  }

  .footer-links li:not(:last-child)::after {
    content: "•";
    margin: 0.5em;
  }
}
